/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #000000;
  height: 400px;
  width: 800px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom left, #080232, #452145);
}

#google {
  position: absolute;
  left: 140px;
  top: 180px;
}

#marsmoon {
  position: absolute;
  left: 360px;
  top: 202px;
}

#shuttle {
  position: absolute;
  left: 486px;
  top: 171px;
}